<%- include('partials/head'); %> 
<main>
    <section>
        <h1>Chat</h1>
        <ul></ul>
        <form>
            <input type="text" autocomplete="off">
            <button><span>Send</span></button>
        </form>
    </section>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/script.js"></script>

<%- include('partials/footer'); %> 


